In [1]:
import pandas as pd
from surprise import Reader, Dataset, SVD, evaluate

In [2]:
reader = Reader()

In [3]:
ratings = pd.read_csv('./data/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
data.split(n_folds=5)

In [5]:
svd = SVD()
evaluate(svd, data, measures=['RMSE', 'MAE'])

/home/vs/anaconda2/lib/python2.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/home/vs/anaconda2/lib/python2.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9001
MAE:  0.6950
------------
Fold 2
RMSE: 0.8950
MAE:  0.6891
------------
Fold 3
RMSE: 0.9019
MAE:  0.6924
------------
Fold 4
RMSE: 0.9015
MAE:  0.6923
------------
Fold 5
RMSE: 0.8937
MAE:  0.6889
------------
------------
Mean RMSE: 0.8984
Mean MAE : 0.6915
------------
------------

CaseInsensitiveDefaultDict(list,
                           {'mae': [0.69503861812825,
                             0.6891137419122484,
                             0.6923642757980424,
                             0.6923033138084589,
                             0.6888969954173086],
                            'rmse': [0.900083066763898,
                             0.8949703788883018,
                             0.901909338609304,
                             0.9014715282280523,
                             0.8936860920614078]})

In [6]:
trainset = data.build_full_trainset()
svd.train(trainset)

/home/vs/anaconda2/lib/python2.7/site-packages/surprise/prediction_algorithms/algo_base.py:51: UserWarning: train() is deprecated. Use fit() instead
  warnings.warn('train() is deprecated. Use fit() instead', UserWarning)

In [7]:
ratings[ratings['userId'] == 1]

    userId  movieId  rating   timestamp
0        1       31     2.5  1260759144
1        1     1029     3.0  1260759179
2        1     1061     3.0  1260759182
3        1     1129     2.0  1260759185
4        1     1172     4.0  1260759205
5        1     1263     2.0  1260759151
6        1     1287     2.0  1260759187
7        1     1293     2.0  1260759148
8        1     1339     3.5  1260759125
9        1     1343     2.0  1260759131
10       1     1371     2.5  1260759135
11       1     1405     1.0  1260759203
12       1     1953     4.0  1260759191
13       1     2105     4.0  1260759139
14       1     2150     3.0  1260759194
15       1     2193     2.0  1260759198
16       1     2294     2.0  1260759108
17       1     2455     2.5  1260759113
18       1     2968     1.0  1260759200
19       1     3671     3.0  1260759117

In [8]:
svd.predict(1, 302, 3)

Prediction(uid=1, iid=302, r_ui=3, est=2.7067254849926194, details={u'was_impossible': False})